* {
	margin: 0;
}

.banner_image {
	max-width: 100vw;
	max-height: 90vh;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
}
.banner_image img {
	width: 100%;
	top: 0%;
}

.banner_text {
	display: flex;
	position: absolute;
	font-family: 'Poiret One', cursive;
	color: white;
	right: 7%;
}
.banner_image h1 {
	font-size: 60px;
	top: 40vh;
	right: 8vw;
}
.banner_image h3 {
	font-size: 27px;
	top: 50vh;
}
/* .spotLight {
	font-weight: 900;
	font-size: 3.5em;
} */
