* {
	margin: 0;
}

.banner_image {
	max-width: 100vw;
	max-height: 70vh;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
}
.banner_image img {
	width: 100%;
	top: 0%;
}

.banner_text {
	display: flex;
	position: absolute;
	font-family: Garamond, serif;
	color: white;
	right: 7%;
}
.banner_image h1 {
	font-size: 60px;
	top: 30%;
	right: 8%;
}
.banner_image h3 {
	font-size: 27px;
	top: 40%;
}
/* .spotLight {
	font-weight: 900;
	font-size: 3.5em;
} */
