#passion {
	background-color: #384b5f;
	height: 70vh;
}
#passion_heading {
	color: rgb(224, 207, 177);
}
.passion_bio_text {
	font-size: 200%;
	font-family: 'Poiret One', cursive;
	height: auto;
	margin-top: 5%;
}
#experience {
	margin: 0%;
	height: 80vh;
}
.logo_bar {
	height: 20%;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}
.logo_box {
	height: 75%;
	border: 1px solid inherit;
	border-radius: 50%;
	padding: 2%;
	box-shadow: 0 5px 15px black;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	background-color: white;
}
.logos {
	height: 100%;
	border-radius: 15%;
}
.logo_text {
	padding-top: 35%;
	height: 100%;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: #363636c9;
	color: rgb(255, 255, 255);
	visibility: hidden;
	opacity: 0;
	font-weight: bold;
	font-size: 25px;
	transition: opacity 0.4s, visibility 0.4s;
}
.logo_box:hover .logo_text {
	visibility: visible;
	opacity: 1;
}
.svg_bio {
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: relative;
	z-index: 2;
}
