#banner-jumbo {
	background-image: url('../images/banner-img.jpg');
	background-size: cover;
	background-position: center;
	height: 100vh;
	width: 100%;
	overflow: hidden;
}

#banner-jumbo .text {
	height: 100vh;
	width: 100%;
	color: white;
	background-image: linear-gradient(
		to right,
		rgba(0, 0, 0, 0.5) 5%,
		rgba(0, 0, 0, 0.4) 20%,
		rgba(0, 0, 0, 0.3) 30%,
		rgba(0, 0, 0, 0.2) 50%,
		rgba(0, 0, 0, 0) 100%
	);
	overflow: hidden;
	padding-top: 40vh;
	padding-right: 5vw;
	font-family: 'Poiret One', cursive;
}
