<<<<<<< HEAD:style/css/Navbar.css
.navbar {
	z-index: 5;
=======
* {
	margin: 0px;
}
header {
	z-index: 5;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	position: absolute;
>>>>>>> 8a8ad356972b236dd4df7d19c53c8f5b7522ab42:style/nav_bar.css
	width: 100vw;
	background-color: rgba(0, 0, 0, 0.849);
	position: fixed;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.navbar-nav > a {
	line-height: 30px;
	height: 28px;
	padding-top: 0px;
}
.nav-link {
	margin: 7px 50px 3px 50px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.navbar-collapse {
	flex-grow: 0;
}
.collapse.show {
	display: flex;
	color: white;
}

.hvr-underline-from-left {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	position: relative;
	overflow: hidden;
}
.hvr-underline-from-left:before {
	content: '';
	position: absolute;
	z-index: -1;
	left: 0;
	right: 100%;
	bottom: 0;
	background: rgb(224, 207, 177);
	height: 2px;
	-webkit-transition-property: right;
	transition-property: right;
	-webkit-transition-duration: 0.5s;
	transition-duration: 0.5s;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
}
.hvr-underline-from-left:hover:before,
.hvr-underline-from-left:focus:before,
.hvr-underline-from-left:active:before {
	right: 0;
}

/* --------------------------------- */

#house_icon {
	border: 0;
	position: relative;
	color: white;
}

#house_icon::before,
#house_icon::after {
	box-sizing: inherit;
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
}

.spin {
	height: 50px;
	width: 50px;
}

.spin::before,
.spin::after {
	top: 0;
	left: 0;
}

.spin::before {
	border: 2px solid transparent;
}

.spin:hover::before {
	border-top-color: rgb(224, 207, 177);
	border-right-color: rgb(224, 207, 177);
	border-bottom-color: rgb(224, 207, 177);
	transition: border-top-color 0.15s linear, border-right-color 0.1s linear 0.1s,
		border-bottom-color 0.15s linear 0.2s;
}

.spin::after {
	border: 0 solid transparent;
}

.spin:hover::after {
	border-top: 2px solid rgb(224, 207, 177);
	border-left-width: 2px;
	border-right-width: 2px;
	transform: rotate(270deg);
	transition: transform 0.4s linear 0s, border-left-width 0s linear 0.35s,
		-webkit-transform 0.4s linear 0s;
}

.circle {
	border-radius: 100%;
	box-shadow: none;
}

.circle::before,
.circle::after {
	border-radius: 100%;
}
